@model DacTa.Models.Hang
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm sản phẩm</h2>

<h4>Hàng</h4>
<hr />
<div class="row">
    <div method="post" class="col-md-4">
        <form asp-action="ThemSanPham">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaHang" class="control-label">Mã hàng</label>
                <input asp-for="MaHang" class="form-control" />
                <span asp-validation-for="MaHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenHang" class="control-label">Tên hàng</label>
                <input asp-for="TenHang" class="form-control" />
                <span asp-validation-for="TenHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGiaNhap" class="control-label">Đơn giá nhập</label>
                <input asp-for="DonGiaNhap" class="form-control" />
                <span asp-validation-for="DonGiaNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGiaBan" class="control-label">Đơn giá bán</label>
                <input asp-for="DonGiaBan" class="form-control" />
                <span asp-validation-for="DonGiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label">RAM</label>
                <input asp-for="Ram" class="form-control" />
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoNho" class="control-label">Bộ nhớ</label>
                <input asp-for="BoNho" class="form-control" />
                <span asp-validation-for="BoNho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeDieuHanh" class="control-label">Hệ điều hành</label>
                <input asp-for="HeDieuHanh" class="form-control" />
                <span asp-validation-for="HeDieuHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camera" class="control-label">Camera</label>
                <input asp-for="Camera" class="form-control" />
                <span asp-validation-for="Camera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManHinh" class="control-label">Màn hình</label>
                <input asp-for="ManHinh" class="form-control" />
                <span asp-validation-for="ManHinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slton" class="control-label">Số lượng tồn</label>
                <input asp-for="Slton" class="form-control" />
                <span asp-validation-for="Slton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianBaoHanh" class="control-label">Thời gian bảo hành</label>
                <input asp-for="ThoiGianBaoHanh" class="form-control" />
                <span asp-validation-for="ThoiGianBaoHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLanMua" class="control-label">Số lần mua</label>
                <input asp-for="SoLanMua" class="form-control" />
                <span asp-validation-for="SoLanMua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label">Mô tả</label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaDanhMuc" class="control-label">Mã danh mục</label>
                <select asp-for="MaDanhMuc" class="form-control" asp-items="ViewBag.MaDanhMuc"></select>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label">Hình ảnh</label>
                <input asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imei" class="control-label">IMEI</label>
                <input asp-for="Imei" class="form-control" />
                <span asp-validation-for="Imei" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mau" class="control-label">Màu</label>
                <input asp-for="Mau" class="form-control" />
                <span asp-validation-for="Mau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pin" class="control-label">Pin</label>
                <input asp-for="Pin" class="form-control" />
                <span asp-validation-for="Pin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DanhMucSanPham">Back to List</a>
</div>

